.appealMessage
  .appealMessageBody
    .appealMessageBodyHeader
      .appealMessageBodyHeader1
        Hirono Tsukishima さんに
      .appealMessageBodyHeader2
        アピールメッセージを送りましょう!
    .appealMessageBodyMain
      .appealMessageBodyMainBox
        .appealMessageBodyMainBoxMessage
          テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト
      .appealMessageBodyMainButton#js-appeal-close
        =link_to "", class: "appealMessageBtn" do
          次へ
