/ .questionsEntrySpWarning
/   金額を入力してください。
/ .questionsEntrySpBody
/   .questionsEntrySpBodyHeader
/     .questionsEntrySpBodyHeaderEstimate
/       %p.questionsEntrySpBodyHeaderEstimateTitle
/         質問の解決に払っても良い金額は？(5000~)
/         %i.far.fa-question-circle#fa-question-circle
/       .questionsEntrySpBodyHeaderEstimatePrice
/         %p#yen
/           coin
/         %p#price
/           5000
/       .questionsEntrySpBodyHeaderEstimateCommission
/         %p#Commission
/           掲載手数料
/         %p#CommissionPrice
/           5000
/       .questionsEntrySpBodyHeaderEstimatePostPrice
/         %p#post
/           掲載価格
/         %p#postPrice
/           5000
/     .questionsEntrySpBodyHeaderLanguage
/       %p.questionsEntryTbBodyHeaderLanguageTitle
/         タグを入力してください
/       %select.questionsEntrySpBodyHeaderLanguageTag

/     .questionsEntrySpBodyHeaderSubject
/       %p.questionsEntrySpBodyHeaderSubjectTitle
/         タイトルを入力してください
/       %input.questionsEntrySpBodyHeaderSubjectInput{placeholder: "   例）インクリメンタルサーチがわかりません。"}

/   %wrapper.questionsEntrySpBodyMain
/     %p.questionsEntrySpBodyMainTitle
/       詳細を入力してください
/     .questionsEntrySpBodyMainMarkup
/       インクリメンタルサーチがうまくいきません

/       ただいまECサイトを作成している最中でして商品を検索する際、
/       Keyupでのインクリメンタルサーチを実装しようと考えております
/       しかしながらkeyupでのイベントがどうも発火していません。
/       Console.logやdebaggaを使って確認しているのですが、治らない状況です。
/       コードは下記の通りです

/       対象コード

/       試したこと
/       Console.logとdebbagaによるデバック。

/       言語環境
/       ruby 3.2.1
/       Rails 5.1.6
/       インクリメンタルサーチがうまくいきません

/       ただいまECサイトを作成している最中でして商品を検索する際、
/       Keyupでのインクリメンタルサーチを実装しようと考えております
/       しかしながらkeyupでのイベントがどうも発火していません。
/       Console.logやdebaggaを使って確認しているのですが、治らない状況です。
/       コードは下記の通りです

/       対象コード

/       試したこと
/       Console.logとdebbagaによるデバック。

/       言語環境
/       ruby 3.2.1
/       Rails 5.1.6
/       インクリメンタルサーチがうまくいきません

/       ただいまECサイトを作成している最中でして商品を検索する際、
/       Keyupでのインクリメンタルサーチを実装しようと考えております
/       しかしながらkeyupでのイベントがどうも発火していません。
/       Console.logやdebaggaを使って確認しているのですが、治らない状況です。
/       コードは下記の通りです

/       対象コード

/       試したこと
/       Console.logとdebbagaによるデバック。

/       言語環境
/       ruby 3.2.1
/       Rails 5.1.6

/     .questionsEntrySpBodyMainView

/ .questionsEntrySpBodyHeaderButton
/   質問を作成

/ = render "questions/questionsIconSp"

/ #qustionPolicySpOverlay
/ = render "questions/qustionPolicySp"

/ #questionsMarkdown
/ = render "questions/markdownScriptSp"

/ #questionsTag
/ = render "questions/questionsTag"

/ #questionsPreview
/ = render "questions/questionsPreviewSp"

/ #qustionPolicyOverlaySecond
/ .qustionPolicySecond
/   .qustionPolicySecondBody
/     .qustionPolicySecondBodyHeader
/       .qustionPolicySecondBodyHeaderFirst
/         質問ポリシー
/       .qustionPolicySecondBodyHeaderSecond
/         Questions Policy
/       .qustionPolicySecondBodyImage
/     .qustionPolicySecondBodyMain
/       .qustionPolicySecondBodyMainImage
/         %p#title
/           秘密保持契約
/         %p#text
/           テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト

/       .qustionPolicySecondBodyMainText
/         スムーズな問題解決のために、守っていただきたいことがあります
/       .qustionPolicySecondBodyMainPage
/         ○ ● ○
/     .qustionPolicySecondBodyFooter
/       =link_to '', class: "qustionPolicyBodyFooterBtn" do
/         次へ
