.questionPolicy
  .questionPolicyBody
    .questionPolicyBodyHeader
      .questionPolicyBodyHeader1
        質問ポリシー
      .questionPolicyBodyHeader2
        ● ○ ○ ◯
    .questionPolicyBodyMain
      .questionPolicyBodyMainText
        4Qodeで質問をするにあたって、守っていただきたいことがあります。
      .questionPolicyBodyMainImage
        = fa_icon "far.fa-edit", class: "fa-edit"
      .questionPolicyBodyMainButton#js-policy2-open
        = link_to "", class: "policyBtn1" do
          次へ
