.questionPolicy2
  .questionPolicy2Body
    .questionPolicy2BodyHeader
      .questionPolicy2BodyHeader1
        質問ポリシー
      .questionPolicy2BodyHeader2
        ○ ● ○ ◯
    .questionPolicy2BodyMain
      .questionPolicy2BodyMainText
        4Qodeは、皆さんの個人情報をあ守ります。
      .questionPolicy2BodyMainBox
        .questionPolicy2BodyMainBoxTitle
          秘密保持契約
        .questionPolicy2BodyMainBoxPolicy
          テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト
      .questionPolicy2BodyMainCheck
        / = check_box_tag :sample
        %form{name: "checkBox"}
          %input#js-policy-check{class: "checkbox",onchange: "checkbox()", type: "checkbox"}了解しました！
      .questionPolicy2BodyMainButton#js-policy-close
        =link_to "", class: "policyBtn2" do
          次へ


