%wrapper.questionsEntry
  .questionsEntryWarning
    金額を入力してください。
  .questionsEntryBodyWrapper
    .questionsEntryHeader
      .questionsEntryHeaderEstimate
        %h3.questionsEntryHeaderEstimateTitle
          金額を入力してください（5000PTから）
        .questionsEntryHeaderEstimateInput
          .questionsEntryHeaderEstimateInputPoint
            PT
          .questionsEntryHeaderEstimateInputBox
        .questionsEntryHeaderEstimateCommission
          .questionsEntryHeaderEstimateCommissionTitle
            手数料（15%）
          .questionsEntryHeaderEstimateCommissionPrice
            0000
        .questionsEntryHeaderEstimatePublication
          .questionsEntryHeaderEstimatePublicationTitle
            掲載価格
          .questionsEntryHeaderEstimatePublicationPrice
            0000
      .questionsEntryHeaderLanguage
        %h3.questionsEntryHeaderLanguageTitle
          タグを入力してください
        .questionsEntryHeaderLanguageTag
        .questionsEntryHeaderLanguageSelect
      .questionsEntryHeaderButton
        質問を作成
    .questionsEntryMain
      .questionsEntryMainMarkup
        インクリメンタルサーチがうまくいきません

        ただいまECサイトを作成している最中でして商品を検索する際、
        Keyupでのインクリメンタルサーチを実装しようと考えております
        しかしながらkeyupでのイベントがどうも発火していません。
        Console.logやdebaggaを使って確認しているのですが、治らない状況です。
        コードは下記の通りです

        対象コード

        試したこと
        Console.logとdebbagaによるデバック。

        言語環境
        ruby 3.2.1
        Rails 5.1.6
      .questionsEntryMainView
        インクリメンタルサーチがうまくいきません

        ただいまECサイトを作成している最中でして商品を検索する際、
        Keyupでのインクリメンタルサーチを実装しようと考えております
        しかしながらkeyupでのイベントがどうも発火していません。
        Console.logやdebaggaを使って確認しているのですが、治らない状況です。
        コードは下記の通りです

        対象コード

        試したこと
        Console.logとdebbagaによるデバック。

        言語環境
        ruby 3.2.1
        Rails 5.1.6
