.quesitonShow
  .questionShowBody
    .questionShowBodyCondition
      未解決
    .questionShowBodyTitle
      .question-title-head
        インクリメンタルサーチができません
      .question-title-price
        ￥4,250
      .question-language
        javascript
  .question-body
    .question-text
      hogehoge
    .question-chat
