.quesiton-main
  .question-header
    .question-condition
      未解決
    .question-title
      .question-title-head
        インクリメンタルサーチができません
      .question-title-price
        ￥4,250
      .question-language
        javascript
  .question-body
    .question-text
      hogehoge
    .question-chat
