.quesitonShowBody
  .questionShowBodyHeader
    .questionShowBodyHeaderCondition
      未解決
    .questionShowBodyHeaderTitle
      .questionShowBodyHeaderTitleHead
        インクリメンタルサーチができません
      .questionShowBodyHeaderTitleContainer
        .questionShowBodyHeaderTitleContainerPrice
          ￥4,250
        .questionShowBodyHeaderTitleContainerLanguage
          javascript
  .question-body
    .question-text
      hogehoge
    .question-chat
