.quesitonShow
  .questionShowHeader
    .questionShowHeaderCondition
      未解決
    .questionShowHeaderTitle
      %h1.questionShowHeaderTitleHead
        インクリメンタルサーチができません
      .questionShowHeaderTitleContainer
        .questionShowHeaderTitleContainerPrice
          ￥4,250
        .questionShowHeaderTitleContainerLanguage
          javascript

  .questionShowMain
    .questionShowMainText
      %p
        ただいまECサイトを作成している最中でして商品を検索する際、Keyupでのインクリメンタルサーチを実装しようと考えております。
        %br
        しかしながらkeyupでのイベントがどうも発火していません。
        %br
        Console.logやdebaggaを使って確認しているのですが、治らない状況です。
        %br
        コードは下記の通りです。
        %br
        なるべく早く解決したいと思っています。
        %br
        どうぞ宜しくお願いします

    .questionShowMainChat
