.quesiton-main
  .question-header
    .question-conditon
      未解決
    .question-title
      インクリメンタルサーチができません
      %br
      ￥4,250
      .question-language
        javascript
  .question-body
    .question-text
      hogehoge
    .question-chat
