.quesitonShow
  .questionShowBody
    .questionShowBodyCondition
      未解決
    .questionShowBodyTitle
      .questionShowBodyTitleHead
        インクリメンタルサーチができません
      .questionShowBodyTitleContainer
        .questionShowBodyTitleContainerPrice
          ￥4,250
        .questionShowBodyTitleContainerLanguage
          javascript
  .question-body
    .question-text
      hogehoge
    .question-chat
