#newUser{
  color: #3b3b3b;
  background: #F0F0F0;
  h1{
    font-size: 20px;
    text-align: center;
    padding: 60px 0 40px;
  }
  h2{
    text-align: center;
    padding: 10px;
  }
  &__content{
    padding-bottom: 50px;
    #newUser__sns, #newUser__mail{
      margin: 0 auto;
    }
    #newUser__sns{
      margin-bottom: 30px;
      ul.newMainSnsBox{
        margin: 0 5% 20px;
        li{
          width: 100%;
          list-style: none;
          border-radius: 2px;
          background: #A32828;
          margin: 20px auto;
          a{
            display: flex;
            position: relative;
            width: 100%;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 12px;
            text-decoration: none;
            padding: 13px;
            img{
              position: absolute;
              width: 30px;
              left: 30px;
              object-fit: cover;
            }
          }
        }
      }
      p{
        color: #848484;
        font-size: 12px;
        margin: 0 5%;
      }
    }
    #newUser__mail{
      margin: 0 5%;
      h2{
        margin-bottom: 10px;
      }
      .newUser__input{
        margin-bottom: 20px;
        p{
          font-size: 13px;
          margin-bottom: 10px;
        }
        .newUser__box{
          width: 100%;
          height: 35px;
          font-size: 13px;
        }
        .required {
          color:red;
        }
        .required:before {
          content: "【必須】"
        }
      }
      p{
        font-size: 12px;
        a{
          color: #3683FF;
          text-decoration: none;
        }
      }
      #newMainMailSend{
        text-align: center;
        .send{
          color: #fff;
          font-size: 13px;
          cursor: pointer;
          border: none;
          border-radius: 2px;
          background: #006600;
          padding: 10px 30px;
          margin: 20px 0;
          &[disabled]{
            color: #fff;
            background: #D3D3D3;
          }
        }
      }
    }
  }
}