.main{
  margin: 100px 0;
  background-color: white;
  width: 800px;
  h2{
    text-align: center;
    border-bottom: solid 1px #DEDEDE;
    margin: 0 30px;
    padding: 30px 0;
  }
  li{
    list-style: none;
    padding: 10px 20px;
    position: relative;
    margin: 0 30px;
    .date, .title, .toggle, .labels p{
      display: inline-block;
    }
    .toggle{
      position: absolute;
      right: 50px;
      top: 30px;
    }
    .fas{
      font-size: 30px;
      color: $darkgray
    }
    .body{
      display: none;
    }
    // app_contractors
    .content{
      display: flex;
      align-items: center;
      width: 700px;
      border: solid 2px $green;
      .status {
        background-color: $green;
        color: white;
        width: 100px;
        height: 100px;
        text-align: center;
        padding-top: 40px;
      }
      .icon{
        height: 80px;
        width: 80px;
        background-color: $black;
        border-radius: 40px;
        margin-right: 40px;
        margin: 0 20px;
      }
      .username {
        position: relative;
        top: -10px;
      }
      .text {
        overflow-wrap: break-word;
        width: 460px;
        position: relative;
      }
    }
  }
  .solved {
    @include content($black);
  }
  .unsolved {
    @include content($green);
  }
  .leaded {
    @include content($black);
  }
  .date p{
    display: inline-block;
  }
  // unsolved_quiestion
  .attention{
    margin-bottom: 10px;
    color: rgb(223, 86, 86);
    font-weight: bold;
  }
  li + li{
    border-top: solid 1px #DEDEDE;
  }
  // reviews
  .stats{
    text-align: center;
    .rate, .stars, .counts{
      margin: 20px 0;
      font-size: 30px;
    }
  }
  .counts{
    color:$darkgray;
  }
  .reviewtab{
    display: flex;
    .left, .right{
      width: 50%;
      text-align: center;
      padding: 10px 0;
      background-color: $lightgray;
    }
    .selected{
      background-color: white;
    }
  }
  .swich{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding: 40px;
    .rate{
      padding-top: 20px;
      p{
        color: #848484;
    }
    }
  }
  .fa-star{
    color: gold;
  }
  .header img{
    height: 50px;
    width: 50px;
    margin: 20px 0;
  }
  .pngs{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 100px;
    p{
      font-size: 15px;
    }
  }
  img + .int{
    font-size: 25px;
  }
  .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
      @include button;
      margin: 15px 0;
      a{
        color: white;
        text-decoration: none;
      }
    }
    .nega{
      background-color: $darkgray;
    }
  }
  // modal
  .modalBg{
    background-color: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
  }
  .appContractorModal1{
    width: 600px;
    display: none;
    max-height: 70vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    .notice{
      text-align: center;
      font-size: 20px;
    }
  }
  .modal{
    margin: 0 60px;
  }
  .transfer{
    padding:0 100px;
  }
  .transfer li, .sales li, .cards li{
    display: flex;
    padding: 30px 0;
    align-items: center;
    span{
      background-color: $red;
      color: white;
      padding: 3px 5px;
    }
    label{
      margin-right: auto;
      width: 150px;
    }
    input{
      height: 40px;
      border: solid 2px $darkgray;
    }
  }
  // charges
  .nonborder{
    border: none;
    input[type="checkbox"], .coin, p{
      display: flex;
      align-items: center;
      text-align: right;
    }
    img, p{
      margin-left: 30px;
      span{
        color:#A32838;
      }
    }
  }
  // cards
  .card .modal{
      display: inline-block;
      align-items: center;
      text-align: left;
      p{
        display: inline-block;
      }
      span{
        background-color: #A32838;
        color: white;
      }
    }
  .credit{
    height: 35px;
    width: 50px;
  }
}
