.mailPasswordHeaderTitle{
    border-bottom: solid 0.5px #c0c0c0;
    padding:10px;
    text-align: center;    
}
.mailPasswordFormat{
        width:30vw;
        margin:50px auto 30px;
        .mailPasswordFormatTitle, .mailPasswordFormatForm{
            display:block;
        }
        .mailPasswordFormatTitle{
            font-size:25px;
        }
        .mailPasswordFormatForm{
            width:30vw;
            height:40px;
            margin: 10px 0;
        }
        .mailPasswordFormatDiscription{
            margin-bottom: 30px;
        }
        .mailPasswordFormatForm + .mailPasswordFormatTitle{
            margin-top:30px;
        }
        .changeFormButton{
            width:100%;
            background-color: red;
            color:white;
            font-size: 20px;
            padding:10px;
        }
    }