.mypage{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 60px;
  margin: 0 auto;
  background-color: #F0F0F0;
}
.mypageSideBar{
  width: 360px;
  margin-top: 80px;
  box-sizing: border-box;
  h4{
    margin-top: 60px;
    font-size: 20px;
    margin-bottom: 10px;
  }
  ul{
    border:none;
  }
  li{
    list-style: none;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: white;
  }
  li + li{
    border-top:solid 0.5px #F0F0F0;
  }
  a:hover, .active{
    background-color: $lightgreen;
  }
  a{
    text-decoration: none;
    font-size: 14px;
    color: $black;
    font-style:bold;
    white-space: nowrap;
    display: block;
    height: 40px;
    padding: 20px 0 0 16px;
    height: 50px;
  }
}
