.mypage{
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 10px;
  margin: 0 auto;
  background-color: #F0F0F0;
}
.mypageSideBar{
  width: 20%;
  padding: 30px;
  box-sizing: border-box;
  h4{
    margin-top: 30px;
  }
  ul{
    border:none;
  }
  li{
    padding:15px 20px;
    height: 40px;
    list-style: none;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: white;
  }
  li + li{
    border-top:solid 0.5px #F0F0F0;
  }
  li:hover{
    background-color: #AAD300;
  }
  a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-style:bold;
    white-space: nowrap;
  }
}
