#userCreate{
  color: #3b3b3b;
  background: #F0F0F0;
  h1{
    font-size: 25px;
    text-align: center;
    padding: 120px 0 30px;
  }
  #createMain{
    text-align: center;
    margin-bottom: 30px;
    img{
      width: 200px;
      padding: 50px 0;
    }
    p{
      font-size: 17px;
      line-height: 1.7;
    }
  }
  #createSub{
    color: #848484;
    font-size: 14px;
    padding: 30px 0 80px;
    margin: 0 30%;
    p{
      padding: 20px 0;
    }
    ul{
      margin: 0 20px;
      li{
        line-height: 1.7;
        a{
          color: $blue;
          text-decoration: none;
        }
      }
    }
  }
}