.toppageBodyContentsQstn{
  &Subcategory{
    &Wrapper{
      width: 950px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      &Card{
        border: 1px solid #ccc;
        font-size: 0.99em;
        height: 200px;
        width: 210px;
      // PC画面の横幅設定により、カード枚数設定予定
      // @media screen and (max-width: 1500px){
      //     height: 400px;
      //     width: 300px;
      // }
      // @media screen and (max-width: 1200px){
      //     height: 500px;
      //     width: 400px;
      // }
        &Top{
          height: 110px;
          background-color: #707070;
          color: #FFFFFF;
          font-size: 1.2em;
          line-height: 1.8;
          padding: 8px;
          &Tag{
            margin-top: 5px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            &Elements{
              background-color: #ACACAC;
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 0 2px;
              border-radius: 4px;
              font-size: 0.8em;
            }
          }
        }
        &Middle{
          height: 40px;
          padding-left: 10px;
          align-items: center;
          display: flex;
          &Pple{
            font-weight: bold;
          }
        }
        &Bottom{
          padding: 0 10px;
          height: 40px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          &Price{
            font-weight: bold;
            font-size: 1em;
          }
          &Avater{
            img{
            border: 1px solid #ccc;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            }
          }
        }
      }
    }
  }
}
