.question_card {
  border: 1px solid #ccc;
  font-size: 0.99em;
  height: 190px;
  width: 220px;
  text-decoration: none;
  margin: 10px;
  a {
    text-decoration: none;
    .question_card_top {
      height: 100px;
      background-color: #707070;
      color: #FFFFFF;
      font-size: 1.05em;
      line-height: 1.8;
      padding: 8px;
      text-decoration: none;
      .question_card_top_title {
        color: #FFFFFF;
        text-decoration: none;
      }
    }
    .question_card_top_middle {
      height: 45px;
      padding-left: 10px;
      align-items: center;
      display: flex;
      .question_card_top_middle_waiting {
        background-color: #848484;
        padding: 5px;
        border-radius: 4px;
        font-size: 14px;
        color: #FFFFFF;
      }
      .question_card_top_middle_peple {
        font-weight: bold;
        padding-left: 30px;
        color: #000000;
      }
    }
    .question_card_bottom {
      padding: 0 10px;
      height: 40px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .question_card_bottom_price {
        font-weight: bold;
        font-size: 1em;
        color: #000000;
      }
      .question_card_bottom_avater {
        margin-left: auto;
        img{
            border: 1px solid #ccc;
            border-radius: 50%;
            height: 30px;
            width: 30px;
          }
      }
      .question_card_bottom_name {
        font-weight: bold;
        margin-left: 5px;
        color: #ccc;
      }
    }
  }
}
// PC画面の横幅設定により、カード枚数設定予定
// @media screen and (max-width: 1500px){
//     height: 400px;
//     width: 300px;
// }

// @media screen and (max-width: 1200px){
//     height: 500px;
//     width: 400px;
// }