.flash {
    background-color: #ADD300;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.notice{
	position:relative;
	padding-left:30px;
	font-weight: bold;
	font-size: 22px;
	line-height: 38px;
}

.notice:after, .notice:before{
	content:'';
	height:18px;
	width:4px;
	display:block;
	background:#FFFFFF;
	position:absolute;
	top:8px;
	left:15px;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
}

.notice:before{
	height:10px;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	top:16px;
	left:7px
}