.advice_header
  ワンポイントアドバイス
.advice_body
  .advice_body_detail
    .advice_body_text
      %p もっと質問を解決してもらうためには、、？
      %p 解決される方は下記ポイントを考慮しています。
      %ul
        %li あなたの情報（経歴 / アピール / 自己紹介）
        %li 取引金額
        %li いいね / 評価などの他者評価
    .advice_body_profile
      = image_tag 'profile.png'
  .advice_body_detail2
    .advice_body_text2
      %p 高単価の質問はより早く解決される傾向にあります。
      %p あなたの経歴など情報を登録して、すぐに質問を解決しましょう！
  .advice_button
    = link_to "#", class: "btn1" do
      今はしない
    = link_to "#", class: "btn2" do
      プロフィールを編集する