.card_registration_header
  クレジットカード登録
.card_registration_body
  .card_registration_body_text
    %p 質問をするためには、事前にクレジットカードを登録し、コインをチャージする必要があります。
    %p クレジットカード登録画面に進みますか？
  .card_registration_body_text_image
    .far.fa-credit-card
    .fas.fa-chevron-right
    .fas.fa-coins
  .card_registration_button
    = link_to "", class: "btn1" do
      今はしない
    = link_to "mypages/card_registration", class: "btn2" do
      クレジットカード登録へ