%section.toppageBodyContentsCategory
  %h2 ユーザーランキング
  %p{style: 'display: inline; text-align: right; color: #707070; font-size: 15px; padding: 0 0 20px 200px;'}ランキングとは?

  %section
    .ranking
      .rankingNamber{style: 'background-color: #DBB400'}
        1
      .rankingIcon
        .rankingIconFlame
          = image_tag "user_icon01.png"
      .rankingText
        .rankingTabRow
          .rankingTab
            PHP
          .rankingTab
            Android
          .rankingTab
            未経験
        .rankingUserName
          sample user name
        .rankingStatus
          .rankingNice
            いいね
            .rankingStatusNumber
              300
          .rankingFollow
            解決数
            .rankingStatusNumber
              1000
          .rankingFollowBtn
            ＋フォロー

    .ranking
      .rankingNamber{style: 'background-color: #C9CACA'}
        2
      .rankingIcon
        .rankingIconFlame
          = image_tag "user_icon01.png"
      .rankingText
        .rankingTabRow
          .rankingTab
            PHP
          .rankingTab
            Android
          .rankingTab
            未経験
        .rankingUserName
          sample user name
        .rankingStatus
          .rankingNice
            いいね
            .rankingStatusNumber
              300
          .rankingFollow
            解決数
            .rankingStatusNumber
              1000
          .rankingFollowBtn
            ＋フォロー

    .ranking
      .rankingNamber{style: 'background-color: #C47022'}
        3
      .rankingIcon
        .rankingIconFlame
          = image_tag "user_icon01.png"
      .rankingText
        .rankingTabRow
          .rankingTab
            PHP
          .rankingTab
            Android
          .rankingTab
            未経験
        .rankingUserName
          sample user name
        .rankingStatus
          .rankingNice
            いいね
            .rankingStatusNumber
              300
          .rankingFollow
            解決数
            .rankingStatusNumber
              1000
          .rankingFollowBtn
            ＋フォロー

    - 4.times do
      .ranking
        .rankingNamberNo
        .rankingIcon
          .rankingIconFlame
            = image_tag "user_icon01.png"
        .rankingText
          .rankingTabRow
            .rankingTab
              PHP
            .rankingTab
              Android
            .rankingTab
              未経験
          .rankingUserName
            sample user name
          .rankingStatus
            .rankingNice
              いいね
              .rankingStatusNumber
                300
            .rankingFollow
              解決数
              .rankingStatusNumber
                1000
            .rankingFollowBtn
              ＋フォロー

%p{style: 'text-align: right; padding-top: 10px;'} もっとみる>>