%main.toppage_index_block
  .toppage_index_contents
    .toppage_index_main
      %section.toppage_index_left
        = render 'toppage_body'
      %section.toppage_index_right
        = render 'serch'
    .toppage_index_select
      = link_to '', class: "toppage_index_pageup" do
        %span PAGE TOP
        %i.fas.fa-arrow-up