.toppage-header
  %header
  全てのエンジニアのための[副業]Q&Aサイト
  4Qode
  画面共有と通話で
  あなたの質問解消にコミットする

  4Qodeでは、あなたの質問の売り買いを通して、
  スピーディで温かみある質問解消を実現します。

  5分前に〇〇が〇〇さんの質問を解決しました

.toppage-body
  %body

.toppage-footer
  %foother
