.newMain
  %h1 新規登録
  .newMainMail
    %h2.newMainMailTitle
      メールアドレスで登録
    .newMainMailName
      ユーザー名　　　※実名をご記入ください
    .newMainMailAddress
      メールアドレス
    .newMainMailPassword
      パスワード　　　※半角英数字6~20文字
    %p
      利用規約及び個人情報の取り扱いに関する要項をご確認の上、同意いただける場合は、「同意して登録」ボタンを押してください。
    .newMainMailSend
      同意して登録
    
  .newMainSns
    %h2.newMainSnsTitle
      SNSで登録
    .newMainSnsBox
      %li Facebook
      %li Twitter
      %li Google
      %li Github

= render 'default/footer'
