footer{
  color: #fff;
  box-shadow: 0 -5px 5px rgba(59, 59, 59, .5);
  background: #464D56;
  position: relative;
  #contact_information{
    border-radius: 2px 2px 0 0;
    background: $green;
    position: absolute;
    left: 30px;
    bottom: 0;
    padding: 50px 100px 40px 70px;
    .information_title{
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-bottom: 30px;
      img{
        width: 45px;
        object-fit: cover;
        margin-right: 20px;
      }
    }
    ul{
      margin-bottom: 15px;
      li{
        font-size: 14px;
        line-height: 1.5;
        list-style: none;
      }
    }
  }
  #site_map{
    padding: 60px 0 70px;
    margin-left: 400px;
    ul{
      li{
        display: inline-block;
        font-size: 14px;
        line-height: 3.0;
        list-style: none;
        margin-right: 40px;
        width: 160px;
      }
      a{
        color: #fff;
        text-decoration: none;
      }
    }
  }
}