.logo_icon2 {
  width: 10%;
  // padding-right: 20px;
}
.footer_contact {
  padding-left: 20px;
  font-size: 15px;
}
.footer {
  height: 250px;
  background-color: #464D56;
  &Box{
    margin: 0 auto;
    width: 100%;
    position: absolute;

    &Contact {
      float: left;
      width: 35%;
      margin-top: -30px;

      &Box {
        margin: 0 30px 0;
        height: 280px;
        background-color: #2B6419;

        &Logo {
          padding: 30px 0 10px 40px;
          align-items: center;
          display: flex;
          // justify-content: space-between;
          color: #FFFFFF;
          font-size: 40px;
        }

        &Text {
          color: #fff;
          font-size: 14px;
          padding: 10px 30px;
        }
      }
    }

    &Body {
      float: right;
      width: 65%;

      &Logo {
        // margin: 7% 5% 7% 13%;

        ul {
          margin-top: 70px;

          li {
            width: 170px;
            display: inline-block;
            line-height: 2.3;
            margin-right: 10px;

            a {
              text-decoration: none;
              color: #fff;
              font-size: 15px;
            }

            .icon {
              color: #fff;
              font-size: 14px;
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}