- time = Time.now

%footer
  #contact_information
    .information_title
      = image_tag 'logo1'
      お問い合わせ
    %ul
      %li
        = fa_icon 'phone'
        000-0000-0000
      %li
        = fa_icon  'envelope-o'
        4Qode@example.com
      %li 年末年始を除き年中無休
    %p
      = time.strftime('%Y')
      4Qode Co., Ltd.
  #site_map
    %ul
      %li=link_to '> subtext/small/jp', ''
      %li=link_to '> subtext/small/jp', ''
      %li=link_to '> subtext/small/jp', ''
      %li=link_to '> subtext/small/jp', ''
      %li=link_to '> subtext/small/jp', ''
      %li=link_to '> subtext/small/jp', ''
      %li=link_to '> subtext/small/jp', ''
      %li=link_to '> subtext/small/jp', ''
      %li=link_to '> subtext/small/jp', ''
      %li=link_to '> subtext/small/jp', ''
      %li=link_to '> subtext/small/jp', ''
      %li=link_to '> subtext/small/jp', ''