%section.question_card
  = link_to '#' do
    .question_card_top
      .question_card_top_title
        急募！環境構築ができません！最大文字数を超えたら三点リーダを使ってくだ…
    .question_card_top_middle
      .question_card_top_middle_waiting
        回答受付中
      .question_card_top_middle_peple
        7人
    .question_card_bottom
      .question_card_bottom_price
        ¥300,000
      .question_card_bottom_avater
        = image_tag "S59981830.png", class: "logo_icon"
      .question_card_bottom_name
        Yamada