%section.toppageBodyContentsQstnSubcategoryWrapperCard
  .toppageBodyContentsQstnSubcategoryWrapperCardTop
    .toppageBodyContentsQstnSubcategoryWrapperCardTopTitle
      急募！環境構築ができません！最大文字数を超えたら三点リーダを使ってくだ…
    .toppageBodyContentsQstnSubcategoryWrapperCardTopTag
      .toppageBodyContentsQstnSubcategoryWrapperCardTopTagElements
        初心者
      .toppageBodyContentsQstnSubcategoryWrapperCardTopTagElements
        Ruby
      .toppageBodyContentsQstnSubcategoryWrapperCardTopTagElements
        PHP
      .toppageBodyContentsQstnSubcategoryWrapperCardTopTagElements
        PHP
  .toppageBodyContentsQstnSubcategoryWrapperCardMiddle
    回答受付中
    .toppageBodyContentsQstnSubcategoryWrapperCardMiddlePple
      7人
  .toppageBodyContentsQstnSubcategoryWrapperCardBottom
    .toppageBodyContentsQstnSubcategoryWrapperCardBottomPrice
      ¥300,000
    .toppageBodyContentsQstnSubcategoryWrapperCardBottomAvater
      = link_to root_path do
        = image_tag "S59981830.png", class: "logo_icon"
    .toppageBodyContentsQstnSubcategoryWrapperCardBottomName
      Yamada
