%section.toppageBodyContentsCategoryWrapperCard
  .toppageBodyContentsCategoryWrapperCardTop
    .toppageBodyContentsCategoryWrapperCardTopTitle
      急募！環境構築ができません！最大文字数を超えたら三点リーダを使ってくだ…
    .toppageBodyContentsCategoryWrapperCardTopTag
      .toppageBodyContentsCategoryWrapperCardTopTagElements
        初心者
      .toppageBodyContentsCategoryWrapperCardTopTagElements
        Ruby
      .toppageBodyContentsCategoryWrapperCardTopTagElements
        PHP
      .toppageBodyContentsCategoryWrapperCardTopTagElements
        PHP
  .toppageBodyContentsCategoryWrapperCardMiddle
    .toppageBodyContentsCategoryWrapperCardMiddleWaiting
      回答受付中
    .toppageBodyContentsCategoryWrapperCardMiddlePple
      7人
  .toppageBodyContentsCategoryWrapperCardBottom
    .toppageBodyContentsCategoryWrapperCardBottomPrice
      ¥300,000
    .toppageBodyContentsCategoryWrapperCardBottomAvater
      = link_to root_path do
        = image_tag "S59981830.png", class: "logo_icon"
    .toppageBodyContentsCategoryWrapperCardBottomName
      Yamada

%section.toppageBodyContentsCategoryWrapperCard
  .toppageBodyContentsCategoryWrapperCardTop
    .toppageBodyContentsCategoryWrapperCardTopTitle
      急募！環境構築ができません！最大文字数を超えたら三点リーダを使ってくだ…
    .toppageBodyContentsCategoryWrapperCardTopTag
      .toppageBodyContentsCategoryWrapperCardTopTagElements
        初心者
      .toppageBodyContentsCategoryWrapperCardTopTagElements
        Ruby
      .toppageBodyContentsCategoryWrapperCardTopTagElements
        PHP
      .toppageBodyContentsCategoryWrapperCardTopTagElements
        PHP
  .toppageBodyContentsCategoryWrapperCardMiddle
    .toppageBodyContentsCategoryWrapperCardMiddleSolved
      解決済
    .toppageBodyContentsCategoryWrapperCardMiddlePple
      7人
  .toppageBodyContentsCategoryWrapperCardBottom
    .toppageBodyContentsCategoryWrapperCardBottomPrice
      ¥300,000
    .toppageBodyContentsCategoryWrapperCardBottomAvater
      = link_to root_path do
        = image_tag "S59981830.png", class: "logo_icon"
    .toppageBodyContentsCategoryWrapperCardBottomName
      Yamada