.mypageReviewBody5Box
  .mypageReviewBody5BoxLeft
    .mypageReviewBody5BoxLeftImage
    / = image_tag user.image, size:"213x213", id:"user-image"
  .mypageReviewBody5BoxRight
    .mypageReviewBody5BoxRightSkill
      .mypageReviewBody5BoxRightSkill1#languageSkill
        PHP
      .mypageReviewBody5BoxRightSkill2#languageSkill
        Android
      .mypageReviewBody5BoxRightSkill3#languageSkill
        未経験
    %p.mypageReviewBody5BoxRightSkillUser
      Hirono Tsukishima
    .mypageReviewBody5BoxRightBottom
      .mypageReviewBody5BoxRightBottomGood
        %p いいね
        %p 300
      .mypageReviewBody5BoxRightBottomSolution
        %p 解決数
        %p 1000
      .mypageReviewBody5BoxRightBottomFollow
        +フォロー中

