.mypageReviewBody5Box
  .mypageReviewBody5BoxLeft
    .mypageReviewBody5BoxLeftImage
    / = image_tag user.image, size:"213x213", id:"user-image"
  .mypageReviewBody5BoxRight
    %p.mypageReviewBody5BoxRightUser
      Hirono Tsukishima
    %i.fas.fa-star
    .mypageReviewBody5BoxRightReview
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    .mypageReviewBody5BoxRightReview2
      = link_to "", class: "linkReview" do
        もっとみる>>
