%wrapper.mypage
  %wrapper.mypageSideBars
    = render partial: "sidebar"
  %wrapper.creditCard
    %h3.creditCardHeaderTitle
      支払い方法
    %h4.creditCardMain
      クレジットカード一覧
      .creditCardAddButton
        =link_to "#", class: "creditCardAddbutton"
          = fa_icon 'far fa-credit-card', class: "far fa-credit-card"
          クレジットカードを追加する
      .creditCardExplainSection
        %a{href: "/jp/help_center/category/6/", target: "_blank"}
          %span.creditCardExplainSectionText 支払い方法について
          = fa_icon 'fas fa-chevron-right', class: "fa-chevron-right"