%wrapper.mypage
  = render partial: "sidebar"
  %wrapper.contents{ style: "text-align:center;"}
    .card
      %h2 クレジットカード情報入力
      %p カード番号
      %span 必須
      %br
      %input{ placeholder: "0000 0000 0000" }
      .labelBox
        =image_tag "visa.png", class: "credit"
        =image_tag "master.png", class: "credit"
        =image_tag "saison.png", class: "credit"
        =image_tag "jcb.png", class: "credit"
        =image_tag "americanexpress.png", class: "credit"
        =image_tag "dinersclub.png", class: "credit"
        =image_tag "discover.png", class: "credit"
      %p 有効期限
      %span 必須
      %br
      %input{ placeholder: "00", style: "display:inline-block;"}月
      %input{ placeholder: "00", style: "display:inline-block;"}日
      %br
      %p セキュリティコード
      %span 必須
      %br
      %input{ placehoolder: "カード背面4桁または3桁の番号" }
      %br
      %p{ style: "text-align: right;font-size:15px;"} セキュリティコードとは？
    .buttons{ style: "margin-top:30px;"}
      %button
        = link_to "確認画面へ", card_confirm_mypages_path
      %button.nega
        = link_to "キャンセル", :back
