%wrapper.mypage
  = render partial: "sidebar"
  %wrapper.contents{ style: "text-align:center;"}
    %h2 支払い方法
    %h3 クレジットカード一覧
    - if @card
      %ul
        - 3.times do
          %li.nonborder.swich{ style: "padding: 0;margin-bottom: 20px;"}
            %input{ type: "checkbox", style: "margin-top: 15px;"}
            =image_tag "coin.png", style: "width:40px;height:40px;"
            %p　●●●● ●●●● ●●●● 0000
            %p 19/07
    - else
      %p 登録済みのクレジットカードはありません
    .buttons{ style: "margin-top:30px;"}
      %button
        = link_to "クレジットカードを追加", card_registration_mypages_path