%wrapper.mypage
  = render partial: "sidebar"
  %wrapper.contents
    = render partial: "head"
    %h3 コインチャージ
    =image_tag "coins.png", style: "display:block;margin:0 auto;"
    %p{ style: "font-size:25px;font-wight:bold;text-align:center;"} チャージが完了しました。
    .buttons{ style: "margin-top: 30px"}
      -# TODO:戻るボタンで戻すページの確認
      %button
        = link_to "戻る", :back