%wrapper.mypage
  %wrapper.mypageSideBars
    = render partial: "sidebar"
  %wrapper.mailPassword
    %h4.mailPasswordHeaderTitle
      メール/パスワード
    .mailPasswordFormat
      %label.mailPasswordFormatTitle
        メールアドレス
      %input.mailPasswordFormatForm
      %p.mailPasswordFormatDiscription
        メールアドレスを変更すると確認メールが送信されます。メール内のURLをクリックすると変更完了です。
      %label.mailPasswordFormatTitle
        現在のパスワード
      %input.mailPasswordFormatForm{placeholder: "6文字以上"}
      %label.mailPasswordFormatTitle
        新しいパスワード
      %input.mailPasswordFormatForm{placeholder: "6文字以上"}
      %label.mailPasswordFormatTitle
        新しいパスワード確認
      %input.mailPasswordFormatForm{placeholder: "6文字以上"}
      %p.mailPasswordFormatDiscription パスワードを設定したい場合は上記をすべて入力してください。（設定しない場合は空欄）
      %button.changeFormButton
        変更する
