%wrapper.mypage
  = render partial: "sidebar"
  %wrapper.contents{ style: "text-align:center;"}
    %h2 メール/パスワード
    .form
      %p メールアドレス
      %br
      %input{ placeholder: "0000 0000 0000" }
      %br
      %br
      %p 現在のパスワード
      %br
      %input{ placehoolder: "8文字以上入力" }
      %br
      %br
      %p 新しいパスワード
      %br
      %input{ placehoolder: "8文字以上入力" }
      %br
      %br
      %p 新しいパスワード(確認用)
      %br
      %input{ placehoolder: "8文字以上入力" }
      %br
      %br
    .buttons{ style: "margin-top:30px;"}
      %button メールアドレス/パスワードを変更

