%wrapper.mypage
  %wrapper.mypageSideBars
    / = render partial: "sidebar"
  %wrapper.mypageBody
    .mypageSalesHistory
      .mypageSalesHistoryBody
        .mypageSalesHistoryBodyHeader
          売上履歴
        .mypageSalesHistoryBodyMain
          .mypageSalesHistoryBodyMainImage
            = image_tag ""
          .mypageSalesHistoryBodyMainText
            .mypageSalesHistoryBodyMainTextDate
              = fa_icon "far.fa-clock", class: "fa-clock"
              2019年5月1日 00:00
            .mypageSalesHistoryBodyMainTextTitle
              事務局より
          .mypageSalesHistoryBodyMainInfo
            .mypageSalesHistoryBodyMainInfoYen
              ¥
            .mypageSalesHistoryBodyMainInfoPrice
              5,000


