%wrapper.mypage
  = render partial: "sidebar"
  %wrapper.contents
    = render partial: "head"
    %h3 売上申請期限
    %ul.cards
      - 3.times do
        %li{ style: "border-top:  solid 1px #DEDEDE;"}
          %label{ style: "margin-right:auto;text-align:left;"}　2019/07/04
          %p ¥4,300
    .buttons{ style: "margin-top: 30px"}
      %button
        = link_to "戻る", :back