%wrapper.mypage
  = render partial: "sidebar"
  %wrapper.contents
    %h2 解決した質問一覧
    %ul
      - 10.times do
        %li
          .labels
            - @labels.each do |label|
              %p= label
          %h3{ style: "margin-bottom: 0;"} インクリメンタルサーチができません
          .status
            %p{ style: "background-color: #A32828;color: white;border-radius:5px;"} 解決済
            %p 解決数 ７
            %p 回答数 ３
          .date
            %p 投稿日
            %p{ style: "margin: 0 20px 0 10px;"} 2019/07/04　23:47
            %p 回答期限
            %p{ style: "margin-left: 10px;" } 2019/07/11　23:47