%wrapper.mypage
  = render partial: "sidebar"
  %wrapper.contents
    = render partial: "head"
    %h3 振込申請
    %p.notice{ style: "text-align: center;"} 振込申請を受付ました。
    .buttons{ style: "margin-top: 30px"}
      %button
        = link_to "戻る", sale_mypages_path
