%wrapper.mypage
  = render partial: "sidebar"
  %wrapper.main
    %h2 未解決の質問一覧
    - 10.times do |num|
      .content.unsolved
        %h4.status
          受付中
          %br
          %br
          7回答
        .body
          %h4.title インクリメンタルサーチができませんああああああああああああああああああああああああああああああああああああ
          .labels
            - @labels.each do |label|
              .label
                %p= label
          .smallbody
            .text aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            .info
              .icon{ style: "width:30px;height:30px;"}
              %p.username ユーザー名(字数制限２０文字まで入る？)
