.questionPolicy2{
  height: 550px;
  position: absolute;
  width: 100%;
  background: #fff;
  left: 50%;
  padding: 40px;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;

  &Body{
    &Header{
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-bottom: 1px solid #ECECEC;
      &1{
        color: black;
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 1px;
        text-align: center;
        line-height: 25px;
        margin-top: 2px;
      }
      &2{
        color: black;
        font-size: 5px;
        font-weight: bold;
        text-align: center;
      }
    }
    &Main{
      display: flex;
      flex-direction: column;
      &Text{
        color: black;
        font-size: 13px;
        margin-bottom: 1px;
        text-align: center;
        line-height: 25px;
        margin-top: 5px;
      }
      &Box{
        overflow: auto;
        width: 25vw;
        height: 250px;
        margin: 0 auto;
        padding: 10px 20px 10px 20px;
        border: 1px solid #D5D5D5;
        color: #D5D5D5;

        &Title{
          text-align: center;
          margin-top: 3vh;
          margin-bottom: 3vh;
        }
        &Policy{
          font-size: 13px;
          line-height: 4vh;
        }
      }
      &Check{
        margin-top: 50px;
        text-align: center;
        font-size: 6px;
      }
      &Button{
        width: 15vw;
        height: 45px;
        font-size: 6px;
        background-color: #C9C9C9;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 10px;
        .policyBtn2{
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

#questionPolicy2Overlay {
    background: rgba(0, 0, 0, 0.6);
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
