.mypageSalesHistory{
  height: 100%;
  background-color: #f2f2f2;
  padding-top: 10vh;
  padding-bottom: 10vh;
  &Body{
    margin: 0 auto;
    width: 80vw;
    background-color: white;
    &Header{
      font-size: 2.5vh;
      font-weight: bold;
      text-align: center;
      padding: 2vh;
      border-bottom: 1px solid #e6e6e6;
    }
    &Main{
      display: flex;
      padding: 2vh;
      &Image{
        width: 50px;
        height: 50px;
        background-color: black;
        margin-right: 2.5vw;
      }
      &Text{
        display: flex;
        flex-direction: column;
        margin-right: 40vw;
      }
        .mypageSalesHistoryBodyMainTextDate{
          color: #a6a6a6;
          font-size: 1vh;
          .fa-clock{
            font-size: 1vh;
          }
        }
        .mypageSalesHistoryBodyMainTextTitle{
          font-size: 1.5vh;
          margin-top: 1vh;
        }
      &Info{
        display: flex;
        font-size: 1.5vh;
        margin-top: 2vh;
        &Yen{
          margin-right: 0.5vw;
        }
        &Price{}
      }
    }
  }
}
