* {
  margin: 0px;
  padding: 0px;
}

.question {
  &-condition {
    background-color: #AD9F9F;
    color: #fff;
    width: 8vw;
    height: 15vh;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  &-title {
    width: calc(100% - 8vw - 100px);
    height: 15vh;
    color: #fff;
    background-color: #393636;
    float: right;
    vertical-align: middle;
    padding: 50px;
    font-size: 20px;

    &-head {
      padding: 0 0 30px 0;
    }
  }
}
