body {
  margin: auto 0;
}

.question {
  &-header {
    width: 100%;
    height: 15vh;
    color: #fff;
    background-color: #393636;
    position: relative;
  }

  &-condition {
    background-color: #AD9F9F;
    width: 75vw;
    height: 150vh;
    position: absolute;
  }
}
