.resultBtn {
  bottom: 60px;
  right: 60px;
  width: 160px;
  height: 160px;
  position: fixed;
  border-radius: 50%;
  background-color: #F76464;
  text-align: center;
  color: #FFF;
  outline: none; 

  &Title {
    font-size: 21px;
    margin: 25px 0 20px 0;
    font-weight: bold;
  }

  &Text {
    font-size: 15px;
    margin: 0 0 5px 0;
  }

  &Price {
    font-size: 20px;
    margin: 0 auto;
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }
}

.modal {
  width: 600px;
  height: 300px;
  position: fixed;
  background-color: #FFF;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
  overflow-x: hidden;
  overflow-y: auto;

  &Banner {
    text-align: center;
  }

  &Inner {
    position: relative;
    overflow: hidden;
    background: #fff;
    max-width: none;
    width: 100%;
    height: 100%;

    .modalBody {
      padding: 64px;
      line-height: 1.5;
    }
  }

  &Head {
    font-size: 16px;
  }

  &Btn {
    border-top: 1px solid #ccc;
    width: calc(50% - 1px);
    text-align: center;
    line-height: 63px;
    cursor: pointer;
    float: left;
  }
}

.bold {
  font-weight: 600;
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 1
}
