.resultBtn {
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
  position: fixed;
  border-radius: 50%;
  background-color: #F76464;
  text-align: center;
  outline: none; 

  p {
    color: #fff;
  }

    &Title {
      font-size: 15px;
      margin: 28px 0 10px 0;
      font-weight: bold;
    }

    &Text {
      font-size: 9px;
      margin: 0 0 5px 0;
    }

    &Price {
      font-size: 13px;
      margin: 0 auto;
      font-weight: bold;
    }

  a {
    text-decoration: none;
  }
}

.modal {
  width: 300px;
  height: 400px;
  position: fixed;
  background-color: #FFF;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 20px;

  &Inner {
    position: relative;
    overflow: hidden;
    background: #fff;
    max-width: none;
    width: 100%;
    height: 100%;

    .modalBody {
      padding: 22px 18px 20px 18px;
      line-height: 1.5;
      color: #707070;
    }
  }

  &Head {
    font-size: 15px;
  }

  &Text {
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    border : solid 1px #707070; 
    border-radius: 20px;
  }

  &Btn {
    width: 30%;
    margin: 0 30px;
    text-align: center;
    line-height: 63px;
    cursor: pointer;
    float: left;
    color: #707070;
  }

  a {
    text-decoration: none;
    background-color: #3DD043;
    color: #fff;
    float: right;
  }
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 1
}
