.resultBtn {
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
  position: fixed;
  border-radius: 50%;
  background-color: #F76464;
  text-align: center;

  p {
    color: #fff;
  }

    &Title {
      font-size: 15px;
      margin: 28px 0 10px 0;
      font-weight: bold;
    }

    &Text {
      font-size: 9px;
      margin: 0 0 5px 0;
    }

    &Price {
      font-size: 13px;
      margin: 0 auto;
      font-weight: bold;
    }

  a {
    text-decoration: none;
  }
}