.toppage-header {
  background-color: #96C7BE;
  width:100% ;
  height:50vh ;
}

.toppage-body {
  height: 500vh;
  background-color: #ffffff;
}

.toppage-footer {
  background-color: #707070;
  width:100% ;
  height:50vh ;
}