.toppage_index_block{
  background-color: #F0F0F0;
  .toppage_index_regist{
    background-image: url(PAK86_smonitatocode.jpg);
    width: 100%;
    height: 600px;
    padding-top: 50px;
    .toppage_index_box{
      display: flex;
      // width: 1080px;
      width: 100%;;
      height: 420px;
      margin: 65px auto;
      .toppage_index_descrpt{
        width: 50%;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10%;
        .toppage_index_descrpt_name{
          font-size: 18px;
        }
        .toppage_index_descrpt_who{
          font-size: 45px;
        }
        .toppage_index_descrpt_how{
          font-size: 30px;
          line-height: 2;
        }
        .toppage_index_descrpt_what{
          font-size: 20px;
          line-height: 2;
        }
      }
      .toppage_index_inputs{
        width: 50%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 10%;
        .toppage_index_user{
          text-align: center;
          .btn-social-long-twitter {
            color: #FFF;/*文字・アイコン色*/
            border-radius: 5px;/*角丸に*/
            display: inline-block;
            height: 38px;/*高さ*/
            width: 90%;/*幅*/
            text-align: center;/*中身を中央寄せ*/
            line-height: 38px;/*高さと合わせる*/
            background: #1da1f3;
            overflow: hidden;/*はみ出た部分を隠す*/
            text-decoration:none;/*下線は消す*/
            margin: 10px 0;
          }
          .btn-social-long-twitter .fa-twitter-square {
            // text-shadow: 2px 2px 0px #4287d6;
            font-size: 30px;
            float: left;
            line-height: 38px;
            padding-left: 10px;
          }
          .btn-social-long-twitter span {
            // display:inline-block;
            transition: .5s;
            text-align: center;
          }
          .btn-social-long-facebook {
            color: #FFF;/*文字・アイコン色*/
            border-radius: 5px;/*角丸に*/
            display: inline-block;
            height: 38px;/*高さ*/
            width: 90%;/*幅*/
            text-align: center;/*中身を中央寄せ*/
            line-height: 38px;/*高さと合わせる*/
            background: #2E4587;
            overflow: hidden;/*はみ出た部分を隠す*/
            text-decoration:none;/*下線は消す*/
            margin: 10px 0;
          }
          .btn-social-long-facebook .fa-facebook-square {
            // text-shadow: 2px 2px 0px #4287d6;
            font-size: 30px;
            float: left;
            line-height: 38px;
            padding-left: 10px;
          }
          .btn-social-long-facebook span {
            transition: .5s;
            text-align: center;
          }
          .btn-social-long-github {
            color: #FFF;/*文字・アイコン色*/
            border-radius: 5px;/*角丸に*/
            display: inline-block;
            height: 38px;/*高さ*/
            width: 90%;/*幅*/
            text-align: center;/*中身を中央寄せ*/
            line-height: 38px;/*高さと合わせる*/
            background: #336DB7;
            overflow: hidden;/*はみ出た部分を隠す*/
            text-decoration:none;/*下線は消す*/
            margin: 10px 0;
          }
          .btn-social-long-github .fa-github-square {
            // text-shadow: 2px 2px 0px #4287d6;
            font-size: 30px;
            float: left;
            line-height: 38px;
            padding-left: 10px;
          }
          .btn-social-long-github span {
            transition: .5s;
            text-align: center;
          }
        }
        .toppage_index_text{
          text-align: center;
        }
        .toppage_index_signup{
          text-align:center;
          input{
            height: 31px;
            width: 90%;
            margin: 5px 0;
            padding-left: 10px;
            font-size: 1em;
          }
          .submit{
            color: #FFFFFF;/*文字・アイコン色*/
            border-radius: 5px;/*角丸に*/
            display: inline-block;
            height: 38px;/*高さ*/
            width: 50%;/*幅*/
            text-align: center;/*中身を中央寄せ*/
            line-height: 38px;/*高さと合わせる*/
            background: #0B5601;
            overflow: hidden;/*はみ出た部分を隠す*/
            text-decoration:none;/*下線は消す*/
            margin: 10px 0;
            border: none;
          }
        }
      }
    }
  }
  .toppage_index_contents{
    // height: 2400px;
    .toppage_index_tag{
      color: #848484;
      display: flex;
      justify-content: center;
      font-size: 20px;
      padding-top: 100px;
    }
    .toppage_index_category{
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 850px;
      margin: 0 auto;
      padding: 30px 0;
      list-style: none;
    }
    input[type=checkbox] {
      display: none;
    }
    input[type="checkbox"].toppage_index_checkbox:checked + label {
      background: #B3D042;
      color: #FFFFFF;
    }
    .toppage_index_label:hover {
      background-color: #99CC99	;
    }
    .toppage_index_label {
      display: block;
      float: left;
      margin: 5px;
      width: 105px;
      height: 40px;
      font-size: 15px;
      text-align: center;
      line-height: 40px;
      padding-left: 5px;
      padding-right: 5px;
      cursor: pointer;
      color: #000000;
      border: 2px solid #ccc;
      border-radius: 5px;
      background-color: #FFFFFF;
    }
    .toppage_index_card{
      .toppage_index_card_wrapper_margin_bottom{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // justify-content: space-between;
        margin-bottom: 50px;
      }
      h2 {
        text-align: center;
        font-size: 2em;
        padding: 10px 0;
      }
      h3 {
        text-align: center;
        font-size: 1.5em;
        color: #597EE3;
        padding: 15px 0 50px;
      }
      .toppage_index_more{
        width: 950px;
        margin: 0 auto;
        text-align: right;
        padding: 5px 0 20px;
        a{
          text-decoration: none;
          color: #000000;
        }
      }
    }
  }
  .toppage_index_select{
    width: 950px;
    height: 335px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .toppage_index_pageup{
      color: #848484;
      text-decoration: none;
      i{
        display: flex;
        justify-content: center;
        font-size: 80px;
      }
    }
  }
  .toppage_index_main{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    // margin: 0 auto;
  }
  .toppage_index_left{
    width: 70%;
    padding: 30px;
    box-sizing: border-box;
  }
  .toppage_index_right{
    padding: 30px;
    width: 30%;
    box-sizing: border-box;

    .serch_head{
      width: 300px;
      // margin-top: 30px;
      margin: auto;
      background-color: $green;
      color: #FFFFFF;
      padding: 15px;
      font-size: 15px;
    }
    .serch_form{
      width: 300px;
      margin: auto;
      background-color: #FFFFFF;
      padding: 10px;
      .serch_tag{
        background-color: rgb(233, 233, 233);
        color: #707070;
        padding:10px;
        // margin:5px 0 5px 0;
        margin: 5px 0;
        width: 100%;
        height: 30px;
        border-radius: 4px;
        font-size: 13px;
      }
      .serch_p{
        color: #707070;
        font-size: 13px;
        margin: 10px 0;
        .serch_name{
          padding: 10px 0;
        }
        .serch_tags_flex{
          display: flex;
          flex-wrap: wrap;
          .serch_tags{
            border: 1px solid #ccc;
            flex-direction: row;
            padding: 0 40px;
            border-radius: 2px;
            font-size: 1em;
            margin: 10px;
            line-height: 2;
            text-align: center;
          }
        }
        .toppage_index_serch_keyword {
          font-size: 20px;
          width: 100%;
          height: 30px;
        }
        .toppage_index_serch_keyword:focus {
          outline: 0;
          box-shadow: 0 0 5px #B3D042;
          border: 1px solid #B3D042;
        }
        .field{
          display:flex;
          flex-wrap:wrap;
          .field_label{
            font-size: 12px;
            color: $black;
            width: 50%;
            padding-bottom: 20px;
            input[type="checkbox"] {
              display: none;
            }
            .checkbox_form {
              position: relative; /* ボックスの位置を指定する */
              padding: 0 0 0 30px; /* ボックス内側の余白を指定する */
            }
            .checkbox_form:hover:after {
              border-color: #ADD300; /* ボックスの境界線を実線で指定する */
            }
            .checkbox_form:after, .checkbox_form:before{
              position: absolute; /* ボックスの位置を指定する */
              content: ""; /* ボックスのコンテンツ */
              display: block; /* ブロックレベル要素化する */
              top: 50%; /* 上部から配置の基準位置を決める */
            }
            .checkbox_form:after {
              left: 5px; /* 左から配置の基準位置を決める */
              margin-top: -10px; /* チェック枠の位置 */
              width: 15px; /* ボックスの横幅を指定する */
              height: 15px; /* ボックスの高さを指定する */
              border: 2px solid #ccc; /* ボックスの境界線を実線で指定する */
              border-radius: 4px; /* ボックスの角丸を指定する */
            }
            .checkbox_form:before {
              left: 10px; /* 左から配置の基準位置を決める */
              margin-top: -7px; /* チェックマークの位置 */
              width: 5px; /* ボックスの横幅を指定する */
              height: 9px; /* ボックスの高さを指定する */
              border-right: 3px solid #ADD300; /* 境界線（右）のスタイルを指定する */
              border-bottom: 3px solid #ADD300; /* 境界線（下）のスタイルを指定する */
              transform: rotate(45deg); /* 要素を回転させる */
              opacity: 0; /* 要素を透過指定する */
            }
            input[type=checkbox]:checked + .checkbox_form:before {
              opacity: 1; /* 要素を表示する */
            }
          }
        }
      }
    }
  }
}