.toppage_index_block{
  background-color: #F0F0F0;
  .toppage_index_regist{
    width: 100%;
    height: 400px;
    .toppage_index_box{
      display: flex;
      width: 100%;;
      height: 294px;
      padding-top: 91px;
      .toppage_index_descrpt{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin-left: 10%;
        height: 188px;
        .toppage_index_descrpt_name{
          font-family: Roboto;
          font-size: 18px;
        }
        .toppage_index_descrpt_who{
          font-family: Futura;
          font-size: 70px;
        }
        .toppage_index_descrpt_how{
          font-family: Roboto;
          font-size: 10px;
          line-height: 2;
        }
      }
      .toppage_index_inputs{
        width: 50%;
        height: 188px;
        margin-right: 10%;
        font-size: 10px;
        text-align: center;
        .toppage_index_user{
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .toppage_index_register_text{
            font-size: 18px;
            line-height: 21px;
          }
          .btn-social-long-twitter {
            color: #FFF;/*文字・アイコン色*/
            border-radius: 5px;/*角丸に*/
            display: inline-block;
            height: 25px;/*高さ*/
            width: 250px;/*幅*/
            text-align: center;/*中身を中央寄せ*/
            line-height: 25px;/*高さと合わせる*/
            background: #1da1f3;
            overflow: hidden;/*はみ出た部分を隠す*/
            text-decoration:none;/*下線は消す*/
            margin: 5px 0;
          }
          .btn-social-long-twitter span {
            // display:inline-block;
            transition: .5s;
            text-align: center;
          }
          .btn-social-long-facebook {
            color: #FFF;/*文字・アイコン色*/
            border-radius: 5px;/*角丸に*/
            display: inline-block;
            height: 25px;/*高さ*/
            width: 250px;/*幅*/
            text-align: center;/*中身を中央寄せ*/
            line-height: 25px;/*高さと合わせる*/
            background: #2E4587;
            overflow: hidden;/*はみ出た部分を隠す*/
            text-decoration:none;/*下線は消す*/
            margin: 5px 0;
          }
          .btn-social-long-facebook span {
            transition: .5s;
            text-align: center;
          }
          .btn-social-long-github {
            color: #FFF;/*文字・アイコン色*/
            border-radius: 5px;/*角丸に*/
            display: inline-block;
            height: 25px;/*高さ*/
            width: 250px;/*幅*/
            text-align: center;/*中身を中央寄せ*/
            line-height: 25px;/*高さと合わせる*/
            background: #336DB7;
            overflow: hidden;/*はみ出た部分を隠す*/
            text-decoration:none;/*下線は消す*/
            margin: 5px 0;
          }
          .btn-social-long-github span {
            transition: .5s;
            text-align: center;
          }
        }
        .toppage_index_text{
          margin: 8px 0;
        }
        .toppage_index_signup{
          text-align:center;
          color: #FFFFFF;/*文字・アイコン色*/
          border-radius: 5px;/*角丸に*/
          display: inline-block;
          height: 25px;/*高さ*/
          width: 250px;/*幅*/
          text-align: center;/*中身を中央寄せ*/
          line-height: 25px;/*高さと合わせる*/
          background: #0B5601;
          overflow: hidden;/*はみ出た部分を隠す*/
          text-decoration:none;/*下線は消す*/
          margin: 5px 0;
        }
      }
    }
    img.image_tag{
      width: 100%;
      height: 106px;
    }
  }
  .toppage_index_contents{
    padding-top: 60px;
    .toppage_index_tag{
      color: #848484;
      display: flex;
      justify-content: center;
      font-size: 20px;
    }
    .toppage_index_category{
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 850px;
      margin: 0 auto;
      padding: 30px 0;
      list-style: none;
    }
    input[type=checkbox] {
      display: none;
    }
    input[type="checkbox"].toppage_index_checkbox:checked + label {
      // background: #B3D042;
      // color: #FFFFFF;
      border: 2px solid #B3D042;
      border-left: solid 30px #B3D042;
    }
    .toppage_index_label:hover {
      // background-color: #99CC99	;
    }
    .toppage_index_label {
      display: block;
      float: left;
      margin: 10px;
      width: 105px;
      height: 30px;
      font-size: 10px;
      text-align: center;
      line-height: 30px;
      padding-left: 5px;
      padding-right: 5px;
      cursor: pointer;
      color: #000000;
      border: 2px solid #ccc;
      border-radius: 5px;
      background-color: #FFFFFF;
      border-left: solid 30px #ccc;
    }
    .toppage_index_card{
      .toppage_index_card_wrapper_margin_bottom{
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        margin-bottom: 50px;
      }
      h2 {
        text-align: center;
        font-size: 2em;
        padding: 10px 0;
      }
      h3 {
        text-align: center;
        font-size: 1.5em;
        padding: 20px 0;
      }
      .toppage_index_more{
        width: 950px;
        margin: 0 auto;
        text-align: right;
        padding: 5px 0 20px;
        a{
          text-decoration: none;
          color: #000000;
        }
      }
    }
  }
  .toppage_index_select{
    width: 950px;
    height: 335px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .toppage_index_pageup{
      color: #848484;
      text-decoration: none;
      i{
        display: flex;
        justify-content: center;
        font-size: 80px;
      }
    }
  }
  .toppage_index_main{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }
  .toppage_index_left{
    width: 900px;
    padding: 30px;
    box-sizing: border-box;
  }
  .toppage_index_right{
    padding: 30px;
    width: 200px;
    box-sizing: border-box;

    .serch_head{
      width: 300px;
      margin: auto;
      background-color: $green;
      color: #FFFFFF;
      padding: 15px;
      font-size: 15px;
    }
    .serch_form{
      width: 300px;
      margin: auto;
      background-color: #FFFFFF;
      padding: 10px;
      .serch_p{
        color: #707070;
        font-size: 13px;
        margin: 10px 0;
        .serch_name{
          padding: 10px 0;
        }
        .toppage_index_serch_keyword {
          font-size: 20px;
          width: 100%;
          height: 30px;
        }
        .toppage_index_serch_keyword:focus {
          outline: 0;
          box-shadow: 0 0 5px #B3D042;
          border: 1px solid #B3D042;
        }
        .field{
          display:flex;
          flex-wrap:wrap;
          .field_label{
            font-size: 12px;
            color: $black;
            width: 50%;
            padding-bottom: 20px;
            input[type="checkbox"] {
              display: none;
            }
            .checkbox_form {
              position: relative; /* ボックスの位置を指定する */
              padding: 0 0 0 30px; /* ボックス内側の余白を指定する */
            }
            .checkbox_form:hover:after {
              border-color: #ADD300; /* ボックスの境界線を実線で指定する */
            }
            .checkbox_form:after, .checkbox_form:before{
              position: absolute; /* ボックスの位置を指定する */
              content: ""; /* ボックスのコンテンツ */
              display: block; /* ブロックレベル要素化する */
              top: 50%; /* 上部から配置の基準位置を決める */
            }
            .checkbox_form:after {
              left: 5px; /* 左から配置の基準位置を決める */
              margin-top: -10px; /* チェック枠の位置 */
              width: 15px; /* ボックスの横幅を指定する */
              height: 15px; /* ボックスの高さを指定する */
              border: 2px solid #ccc; /* ボックスの境界線を実線で指定する */
              border-radius: 4px; /* ボックスの角丸を指定する */
            }
            .checkbox_form:before {
              left: 10px; /* 左から配置の基準位置を決める */
              margin-top: -7px; /* チェックマークの位置 */
              width: 5px; /* ボックスの横幅を指定する */
              height: 9px; /* ボックスの高さを指定する */
              border-right: 3px solid #ADD300; /* 境界線（右）のスタイルを指定する */
              border-bottom: 3px solid #ADD300; /* 境界線（下）のスタイルを指定する */
              transform: rotate(45deg); /* 要素を回転させる */
              opacity: 0; /* 要素を透過指定する */
            }
            input[type=checkbox]:checked + .checkbox_form:before {
              opacity: 1; /* 要素を表示する */
            }
          }
        }
      }
    }
  }
}



