.mypageHeaderBars{
  display: flex;
  box-sizing: border-box;
  border: solid 0.5px #c0c0c0;
  .mypageHeaderLeftbar, .mypageHeaderRightbar{
    font-size: 30px;
    width: 30vw;
    max-width: 1000px;
    text-align: center;
    padding: 10px;
  }
  .mypageHeaderLeftbar + .mypageHeaderRightbar{
    border-left: solid 0.5px #c0c0c0;
  }
}
.mypageContractors, .mypageNotifications, .mypageResolution, .mypageUnsolved{
    .dataList{
      list-style: none;
      padding: 10px;
      border: solid 0.5px #c0c0c0;
      border-top: none;
      .dataListHead{
        width:50vw;
        overflow: hidden;
        text-overflow: ellipsis;
        display:flex;
        .dataListTitle{
          white-space: nowrap;
        }
        p{
          font-size:25px;
        }
        .dataListDate + .dataListTitle{
          margin-left: 20px;
        }
      }
      .dataListMain{
        display: flex;
        align-items: center;
        padding-top: 10px;
        .dataListIcon{
          height:50px;
          width:50px;
          border-radius: 25px;
          border: solid 0.5px #c0c0c0;
        }
        .dataListName, .dataListStatus, .dataListRport, .dataListEvaluation, .dataListResolution, .dataListTimeIcon{
          margin-left: 20px;
        }
        .dataListName{
          color:#1592E6;
          font-weight:bold;
        }
        .dataListStatus{
          font-size: 15px;
          border:solid 0.5px #c0c0c0;
          padding:3px;
          background-color:#F76464;
          color: white;
        }
        .dataListEvaluation, .dataListResolution{
          font-size: 20px;
        }
      }
    }
    .dataListNotification{
      display: flex;
      align-items: center;
      .dataListNotificationIcon{
        height:50px;
        width:50px;
        border-radius: 25px;
        border:solid 0.5px #c0c0c0;
        display: inline-block;
      }
      .dataListNotificationInfo{
        overflow: hidden;
        text-overflow: ellipsis;
        width: 40vw;
        .dataListDate, .dataListTitles{
          margin-left: 10px;
          display:inline-block;
        }
        .dataListTitles{
          white-space: nowrap;
        }
      }
    }
  }

.None{
  opacity:0;
}
// .mypageNotifications{
//   display: none;
// }

