.dataListStutz{
  margin-left: 20px;
  th, td{
    font-size:20px;
    padding: 5px;
  }
  th{
    border-left: solid 2px #81E395;
  }
  tr + tr {
    border-top: solid 2px #81E395;
  }
}

.mypageUnsolved{
  .dataList{
    &Date, &Title, &Application{
      display: inline-block;
    }
    &Title{
      overflow: hidden;
      text-overflow: ellipsis;
      width:35vw;
      white-space: nowrap;
      font-size:20px;
      vertical-align: middle;
    }
    &Application{
      border:solid 0.5px #c0c0c0;
      background-color:#F76464;
      padding:3px;
      color:white;
    }
  }
}
