#registration_tags
  #search_tag
    %h1 どの分野に興味がありますか？
    %span カードをクリックして登録しましょう。
    #search_form カードを追加　例：Ruby、Swift、Laravel
    #selected_tags
      #text 現在選択中のカード：
      #tags_list
        %ul
          %li PHP
          %li Android
          %li PHP
          %li Android
          %li PHP
          %li Android
          %li PHP
          %li Android
  #select_card
    %ul
      %li PHP
      %li Rails
      %li Ruby
      %li MySQL
      %li HTML5
      %li CSS3
      %li GAS
      %li Java
      %li C
      %li C++
      %li Github
      %li Docker
  #submit_tags
    %button 次に進む