!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", http: {equiv: {Content: "Type"}}}/
    %link{:href => "css/prism.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", :type => "text/javascript"}
    %script{:src => "js/prism"}
    %script{:src => "js/resultModal"}
    %meta{content: "width=device-width,user-scalable=no,maximum-scale=1″ />", name: "viewport"}/
    %title FourQode
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
