= render 'shared/header'
#userCreate
  %h1 仮登録完了
  #createMain
    = image_tag 'checkmark.png', class: 'createImage'
    %p info@4Qode.comから入力メールアドレス宛に仮登録メールを送信しました。
    %p メールボックスから確認してください。
  #createSub
    %p メールが届きませんか？
    %ul
      %li 迷惑メールボックスに届いている場合があります。
      %li @4Qode.comの受信を許可してください。
      %li
        それでも届かない場合、お手数ですが
        %span>= link_to 'お問い合わせ'
        から連絡してください。
= render 'shared/footer'